body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #1E2338;
}

header {
    background-color: #1D539E;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px;
}

.title {
    color: #ffffff;
    position: relative;
    top: -30px;
}

.title h1 {
    text-align: center;
    font-size: 48px;
}

.title p {
    text-align: center;
    font-size: 18px;
    max-width: 500px;
}

.planos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 400px;
    color: #828799;
    position: relative;
    top: -170px
}

.box {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    width: 1000px;
}
.line {
    background-color: #EEEEEE;
    height: 1px;
    width: 80%;
}

.boxPlanos {
    background-color: #ffffff;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.boxPlanos button {
    border-radius: 7px;
}

button {
    background-color: #fff;
    font-size: 16px;
    color: #1D539E;
    border: 1px solid #1D539E;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 250px; 
    height: 40px;
    margin-top: 100px;
    align-self: center; /* Centraliza o botão */
    position:absolute;
    bottom: 30px;
}
.boxPlanosbutton:hover {
    background-color: #1D539E;
    color: #ffffff;
}

.boxPlanos h3 {
    font-size: 20px;
    margin: 10px 0;
    margin-left: 20px;
    color: #1E2338;
}

.boxPlanos h2 {
    margin: 10px 0;
    margin-left: 20px;
    color: #1E2338;
}

.boxPlanos p {
    margin: 5px 0;
    margin-left: 20px;
}

.zeros {
    font-size: 20px;
}

.mes {
    font-size: 20px;
    color: #828799;
}

.incluse {
    display: flex;
    flex-direction: column;
    min-height: 35%;
}

.boxH3 {
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding-top: 0px;
    margin: 0;
}

.H3Principal {
    /*padding-top: 10px;*/
    position: relative;
}

.boxH3Principal {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: #FFCC29;
}

i {
    align-self: center;
}

/*
button {
    padding: 10px;
    background-color: #fff;
    font-size: 16px;
    color: #1D539E;
    border: 1px solid #1D539E;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: auto;
    width: 250px; 
    height: 40px; 
}
    */
.btnPrincipal {
    background-color: #1D539E;
    color: #ffffff;
    border: 1px solid #1D539E;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: auto;
}

button:hover {
    background-color: #ffffff;
    color: #1D539E;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(29, 83, 158, 0.5);
}

.btn {
    align-items: center;
}

.icon {
    margin-right: 10px;
}